{
  "extends": "airbnb",
  "env": {
  	"browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": [2, "never"],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to" ]
    }],
    "react/prop-types": [0, {
      ignore: [],
      customValidators: [],
      skipUndeclared: false
    }]
  }
}